/* resets */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  height: 100vh;
  font-size: 1.5rem;
  background-color: rgb(247, 222, 170);
}

/* body */

.page-wrapper {
  padding: 5rem;
  
}

/* title */
header {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 2rem;
  

}
#title {
  text-align: center;
}

/* main */

main {
  display: flex;
  margin-top: 5rem;
}
button {
  width: 100%;
  cursor: pointer;
}
ul {
  list-style: none;
}

/* sidebar */

#sidebar {
  width: 25%;
  padding: 2rem;
  background-color: rgb(133, 203, 238);
  border-radius: 20px;
  margin: 2rem;
}
#sidebar__title {
  text-align: center;
  font-size: 4rem;
}

.sidebar__stats-list {
  margin-top: 2rem;
  font-size: 2rem;
}



/* content */


#content {
  padding: 1rem;
  position: relative;
  width: 100%;
  background-color: rgb(133, 203, 238);
  border-radius: 20px;
  margin: 2rem;
}
#content::before{
  content: '';
  position: absolute;
  left: -20px;
  border-right: 1px solid rgb(0, 0, 0);
  height: 100%;
  top: 2px;
}



#content-title {
  text-align: center;
  font-size: 4rem;
}

.content-def-group {
  padding: 2rem;
  font-size: 2.2rem;
  display: none;
}

.visible {
  display: block;
}

.header {
  text-align: center;
}
